#editor {
  width: 100%;
  height: 100%;

  max-width: 100vw;
  max-height: 100vh;

  display: grid;
  grid-template-columns: 240px 1fr 240px;
  grid-template-rows: 48px 1fr;

  grid-template-areas: "header header header";

  @import "./editor/navbar";
  @import "./editor/left_panel";
  @import "./editor/workspace";
  @import "./editor/right_panel";
}
