@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import "editor";
@import "tab_controler.scss";

@import "editor/workspace/page/layout.scss";
@import "component";

@import "fake-tailwind";

* {
  box-sizing: border-box;
  user-select: none;
  font-family: "Inter", sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #ebebeb;

  height: 100%;
}

.icon-btn-container {
  display: flex;
  min-width: 32px;
  min-height: 32px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  transition: background-color 0.2s;
  cursor: pointer;
}

.icon-btn-container:hover,
.icon-btn-container.active {
  background-color: #ebebeb;

  img {
    filter: brightness(0.3);
  }
}

.separator-vert {
  display: block;
  width: 1px;
  background-color: #ebebeb;
}

/*  */

context-menu {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.layout-select {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding-bottom: 15px;
}

.layout-select > button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  cursor: pointer;

  border-bottom: 1px solid transparent;

  color: grey;
}

.layout-select > button.active {
  border-bottom: 1px solid rgba(0, 0, 255, 0.5);
  color: black;
}

.layout-select > button:hover:not(button[disabled]) {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/*  */
/* Preview  */
/*  */

#preview-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  transition: visibility 0.5s, opacity 0.5s;
}

#preview-close-trigger {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#preview {
  position: relative;
  width: 766px;
  background-color: white;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.3);

  transition: visibility 0.5s, transform 0.5s;

  overflow-x: hidden;
}

/*  */
/* Scrollbar  */
/*  */

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 10px;
}

/*  */
/* Animations  */
/*  */

.spawn-animation {
  animation: spawn-animation 0.2s;
}

.death-animation {
  animation: death-animation 0.5s;
  pointer-events: none;
  z-index: 999;
}

@keyframes death-animation {
  from {
    /* transform: scale(1); */
    opacity: 1;
  }

  to {
    /* transform: scale(0); */
    opacity: 0;
  }
}

@keyframes spawn-animation {
  from {
    opacity: 0;
    /* transform: scale(0); */
  }

  to {
    opacity: 1;
    /* transform: scale(1); */
  }
}
