layout-container {
  width: 100%;
  min-height: 76px;
  overflow: hidden;
}

#workspace layout-container {
  &:hover {
    outline: 1px solid #0095f8;
  }
}

layout-container.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

layout-container.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 76px);
  grid-template-rows: repeat(auto-fill, 76px);
  justify-items: center;
  align-items: center;

  .grid-svg {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
  }

  .grid-placeholder {
    visibility: hidden;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;

    transition: visibility 0.5s, opacity 0.5s, background-color 0.5s;

    z-index: 0;
  }

  .grid-placeholder.deny {
    background-color: rgb(255, 16, 95, 0.5);
  }
}

#workspace layout-container.grid {
  &:hover {
    .grid-svg {
      visibility: visible;
      opacity: 1;
    }
  }
}

layout-container.grid > * {
  /* Take all avalible space in the grid cell */
  width: 100%;
  height: 100%;
}

layout-container.free {
  display: block;
  position: relative;
}

layout-container.free > * {
  position: absolute;
}
