layout-container {
  width: 100%;
  min-height: 76px;
}

layout-container.dragover {
  display: block;
  background-color: rgba(255, 100, 100, 0.5);
}

.layout-drop-area {
  background-color: rgb(240, 240, 240);
  background-image: url("/img/icons/plus.svg");
  background-position: center;
  background-repeat: no-repeat;

  height: 50px;
}

.layout-drop-area.dragover {
  outline: 1px solid #0095f8;
}

#workspace layout-container {
  &:hover {
    outline: 1px solid #0095f8;
  }

  .container__close-icon {
    position: absolute;
    top: -16px;
    right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;

    border-radius: 4px;

    visibility: hidden;

    &:hover {
      background-color: #ebebeb;

      img {
        filter: brightness(0.3);
      }
    }
  }
}

#workspace layout-container.selected {
  outline: 1px solid #0095f8;

  .container__close-icon {
    visibility: visible;
  }
}

layout-container.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

layout-container.grid {
  position: relative;
  display: grid;
  // grid-template-columns: repeat(auto-fill, 76px);
  grid-template-rows: repeat(auto-fill, 76px);
  justify-items: center;
  align-items: center;

  .grid-svg {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
  }

  .grid-placeholder {
    visibility: hidden;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;

    transition: visibility 0.5s, opacity 0.5s, background-color 0.5s;

    z-index: 0;
  }

  .grid-placeholder.deny {
    background-color: rgb(255, 16, 95, 0.5);
  }
}

#workspace layout-container.grid {
  &:hover {
    .grid-svg {
      visibility: visible;
      opacity: 1;
    }
  }
}

layout-container.grid > * {
  /* Take all avalible space in the grid cell */
  width: 100%;
  height: 100%;
}

layout-container.free {
  display: block;
  position: relative;
}

layout-container.free > * {
  position: absolute;
}
