.editor__left-panel {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.01);
  padding: 0px 8px;

  tabs-controler {
    height: 100%;
  }

  #pages-panel {
    > header {
      display: flex;
      align-items: center;

      font-size: 12px;
      font-weight: 600;

      height: 40px;
      width: 224px;

      color: #333333;

      > * {
        margin: 0px 8px;
      }

      #add-page-btn {
        margin-left: auto;
      }
    }

    .page-item {
      header {
        width: 224px;
        height: 32px;

        display: flex;
        justify-content: left;
        align-items: center;

        .page-item__icon {
          display: flex;
          min-width: 16px;
          min-height: 16px;
          justify-content: center;
          align-items: center;

          margin-right: 8px;
        }

        padding: 8px;

        font-size: 12px;
        font-weight: 500;
        color: #333333;

        // background: #ebebeb;
        border-radius: 5px;
      }

      header:hover {
        background: #ebebeb;
      }

      .page-item__children {
        header {
          width: 208px;
          background: transparent;
        }
        header:hover {
          background: #ebebeb;
        }

        padding-left: 16px;

        .page-item__icon img {
          transform: rotate(-90deg);
        }
      }
    }
  }

  #picker {
    display: grid;

    gap: 10px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 52px;

    overflow-y: auto;
    overflow-x: hidden;

    .component-source {
      display: flex;

      align-items: center;
      justify-content: center;

      background-color: #f1f1f1;
      border: 1px solid #d3d3d3;
      border-radius: 5px;

      overflow: hidden;

      filter: grayscale(1) opacity(0.6);

      * {
        pointer-events: none;
        transform: scale(0.8);
      }
    }
  }

  #layout-picker {
    display: grid;

    gap: 10px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 52px;

    div {
      display: flex;

      align-items: center;
      justify-content: center;

      background-color: #f1f1f1;
      color: #b3b3b3;

      border: 1px solid #d3d3d3;
      border-radius: 5px;

      overflow: hidden;
    }
  }

  .assets__title {
    font-size: 12px;
    font-weight: 600;
    margin: 15px 0px;
  }
}
